<h2><%= @tenant %></h2>

<p><%= link_to t('tenants.show_tickets'), tenant_tickets_path(@tenant), title: t('tenants.show_tickets') %></p>

<p>
  <strong><%= Tenant.human_attribute_name 'email' %></strong>:
  <%= @tenant.email %>
</p>
<p>
  <strong><%= Tenant.human_attribute_name 'subdomain' %></strong>:
  <%= @tenant.subdomain %>
</p>

<%= link_to_edit edit_tenant_path(@tenant) %> |
<%= link_to_index tenants_path %>
