<% if @replies.empty? %>
  <%= render 'shared/empty_index', message: t('.empty_html') %>
<% else %>
  <table class="table table-striped table-hover">
    <caption><%= t '.title_html', ticket: link_to(@ticket, @ticket) %></caption>
    <thead>
      <tr>
        <th><%= Reply.human_attribute_name 'body' %></th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @replies.each do |reply| %>
        <tr>
          <td><%= reply.body %></td>
          <td><%= link_to_show [@ticket, reply] %></td>
          <td><%= link_to_edit edit_ticket_reply_path(@ticket, reply) %></td>
          <td><%= link_to_destroy [@ticket, reply] %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% end %>

<%= link_to_new new_ticket_reply_path, class: 'btn btn-primary' %>
