<%= simple_form_for [(@tenant if @ticket.new_record?), @ticket].compact, defaults: input_defaults do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :from_addresses, required: true, input_html: { autofocus: true } %>
    <%= f.input :subject %>
    <%= f.input :body, input_html: { rows: 5 } %>
    <div class="row">
      <div class="col col-lg-4">
        <%= f.input :status, collection: status, prompt: false %>
      </div>
      <div class="col col-lg-4">
        <%= f.input :category_id, collection: categories %>
      </div>
      <div class="col col-lg-4">
        <%= f.input :user_id, collection: users %>
      </div>
    </div>
    <% unless @ticket.feedback_requested_was %>
      <label>
        <%= check_box_tag 'ticket[feedback_requested]', '1', @ticket.feedback_requested %>
        <%= Ticket.human_attribute_name 'feedback_requested' %>
      </label>
    <% end %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
