<%= simple_form_for [@tenant, @ticket] do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :from_addresses, required: true, input_html: { autofocus: true } %>
    <%= f.input :subject %>
    <%= f.input :body, input_html: { rows: 8 } %>
    <div class="row">
      <div class="col col-6">
        <%= f.input :status, collection: status, prompt: false %>
      </div>
      <div class="col col-6">
        <%= f.input :category_id, collection: categories %>
      </div>
    </div>
  </div>

  <div class="form-actions">
    <%= f.button :submit, class: 'btn-primary' %>
  </div>
<% end %>
