<h2><%= @ticket %> <%= ticket_status @ticket, pull_right: true %></h2>

<% if @ticket.category %>
  <p>
    <span class="label"><%= @ticket.category %></span>
  </p>
<% end %>

<% if @ticket.user %>
  <p>
    <strong><%= Ticket.human_attribute_name 'user_id' %></strong>:
    <%= link_to @ticket.user, @ticket.user %>
  </p>
<% end %>

<p>
  <strong><%= Tenant.model_name.human count: 1 %></strong>:
  <%= link_to @ticket.tenant, @ticket.tenant %>
</p>

<p>
  <strong><%= Ticket.human_attribute_name 'from_addresses' %></strong>:
  <%= @ticket.from_addresses %>
</p>

<p>
  <%= link_to feedbacks_label(@ticket), ticket_feedbacks_path(@ticket) %>
</p>

<blockquote>
  <%= simple_format @ticket.body %>
  <small><%= l @ticket.created_at %></small>
</blockquote>

<%= render @ticket.replies.reject(&:new_record?) %>

<%= render 'replies/form' %>

<hr />

<%= link_to_edit edit_ticket_path(@ticket) %> |
<%= link_to_index tenant_tickets_path(@tenant) %>
